@import url('./../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('./../public/css/main.css');
@import url('./../public/css/controlPannel.css');

.image-generation{
    height: 84px;
    width: 84px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-size: 20px;
    border-radius: 50%;
    transition: .2  s ease-in-out;
}

.image-generation:hover{
    opacity: .5;
}